
body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 20px;
    padding: 0;
    max-width: 1000px;

    margin: 0 auto;
}
.container{
    display: grid;
    grid-template-columns:repeat(5/1fr);
    grid-template-rows: repeat(3/1fr);
    gap: 5px;

}
.container>div:nth-child(1)
{
    grid-column: 1/2;
}
.container>div:nth-child(2)
{
    grid-column: 3/4;
    height: 300px;
}
.container>div:nth-child(3)
{
    grid-column: 4/5;
}

.San-francisco{
    display: block;
    justify-self: left;
}

.asseen{
display: flex;
}
.asseen p{
    padding: 17px;
}
h1 {
    font-size: 24px;
    font-weight: bold;
}
ul {
    padding-left: 20px;
}

ul li {
    margin-bottom: 5px;    
}
.user-input, input[type="date"], input[type="number"] {
    width: 200px;   
}
p{
    padding: 0;
    margin: 0;
}
form{
    padding: 0;
    margin: 0;
}
.sidebars {
    gap: 15px;
    max-width: 900px;
}
 h3 {
    color: #d63384;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

footer{
    font-size: 15px
}