* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    background-color: white;
    max-width: 1100px;
}

main {
    width: 90%;
    background-color: white;
    border: #E1E5EA;
    border-style: solid;
    border-width: 20px;
    margin-left: 30px;
    /* box-shadow: 5px 5px; */
}

.main-three {
    background-color: #686D76;
}

.header-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px;
    color: #2973B2;
}

.header-links a {
    color: #2973B2;
}

.lineblue {
    margin-left: 30px;
    width: 90%;
    height: 6px;
    background-color: #2973B2;
}

.mainbody {
    display: flex;

}

.mainpart {
    /* border: red solid 5px; */
    width: 60%;
    background-color: white;
    padding: 20px;
    padding-right: 20px;
}

.mainpart h3 {
    font-weight: 200px;
    color: #2973B2;
    padding: 20px;
}

.mainpart p {
    font-weight: 200px;
    color: #686D76;
}

.bodylogo {
    width: 8%;
}

.logo-text {
    display: flex;
    flex-direction: column;
}

.img-text {
    display: flex;
    align-items: center;
    padding: 2%;
}
.join h3 {
    background-color: #2973B2;
    color: white;
    border-radius: 6px 6px 0 0;
}

.join {
    margin-top: 2%;
    width: 35%;
    background: white;
    padding: 15px;
    border: grey solid 1px;
    border-radius: 6px;
    text-align: center;
    padding: 0%;
    gap: 1px;
}
/* .d1 label, .d2 input {
height: 25px;
} */
.d1{
  text-align: right;
}
.d2{
  text-align: left;
}

.input {
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

form label {
    margin: 5px 0;
    font-size: 14px;
    gap: 1%;
}

form input {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    align-items: left;
}

#submit {
    background: #6aaf08;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}


.signin {
    font-size: 12px;
    margin-top: 10px;
}

.signin a {
    color: #2973B2;
}

.directory p {
    font-weight: bold;
}

p {
    color: #686D76;
}


.directoryone a {
    margin: 0 2px;
    text-decoration: none;
    color: #2973B2;
}

.directoryclass {
    display: flex;
    justify-content: center;
    padding: 2%;

}

.search {
    display: flex;
    justify-content: center;
    padding: 20px 20px;
    gap: 10px;
}

.linegrey {
    width: 90%;
    margin-left: 30px;
    height: 2px;
    background-color: #686D76;
    margin: 30px;
}

.footer-container {
    margin-left: 30px;
    width: 90%;
    background: #f3f3f3;
    padding: 15px 30px;
    font-family: Arial, sans-serif;
    font-size: 13px;
}


.footer-container {
    align-content: space-around;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}


.line {
    width: 90%;
    margin-left: 30px;
    height: 2px;
    background-color: #686D76;
}