<form action="/add-new-post" method="POST" class="d-flex flex-column justify-content-center mb-5"
  style="max-width: 450px">
  <label for="name">Name</label>
  <input name="name" type="text" placeholder="Input your name there..." class="mb-3" minlength="2" maxlength="50" />
  <label for="message">Post a message</label>
  <textarea name="message" placeholder="Input your message there" cols="45" rows="3" class="mb-3"></textarea>
  <div class="d-flex flex-column justify-content-center">
    <% if(errPostLength){%>
      <p class="text-danger">
        <%= errPostLength %>
      </p>
      <% } %>
  </div>
  <button class="btn btn-primary">Post a message</button>
</form> 