#container {
    width: 50%;
    margin: auto;
    margin-top: 100px;
}


.init-time {
    margin-bottom: 60px;
}
.init-time input{
    width: 110px;
}

button input {
    padding:5px;
}


#second {
    font-size: 50px;
    font-weight: bold;
}

.clock-buttons {
    display: flex;
    gap: 30px;
}
.clock-buttons button{
    width:30%;
}
.hidden{
    display: none;
}