
<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body
    class="container-fluid d-flex flex-column justify-content-start min-vh-100 bg-light text-black"
    style="max-width: 900px"
  >
    <!-- Header  -->
    <header class="d-flex flex-row align-items-center border-bottom mb-3">
      <h1 class="fs-3 fw-bold mt-4 mb-4">Timeline</h1>
    </header>
    <!-- Main content  -->
    <main class="container flex-grow-1">
      <div class="d-flex flex-column align-items-center">
        <!-- Create a new post  -->
        <%- include('./partials/editPostForm') %>
      </div>
    </main>
    <!-- Footer  -->
    <%- include('./partials/footer') %>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="../public/script.js" defer></script>
  </body>
</html>
